<!-- the passport's advisories screen, where we list legal disclaimers -->
<div class="passport-pages">
    <div class="passport-header">
        Advisories
    </div>
    <div class="passport-content scrollable-content scroller">
        All songs were originally composed by our team so don’t go stealing any of them.<br />
        <br />
        “Regio Vinco National Anthem”, composed and performed by Nick Massimi<br />
        <br />
        “The Bossa Nova Lounge?”, composed and performed by Nick Massimi<br />
        <br />
        A<br />
        B<br />
        C<br />
        D<br />
        E<br />
        F<br />
        G<br />
        H<br />
        I<br />
        J<br />
        K<br />
        L<br />
        M<br />
        N<br />
        O<br />
        P<br />
        Q<br />
        R<br />
        S<br />
        T<br />
        U<br />
        V<br />
        W<br />
        X<br />
        Y<br />
        Z<br />
    </div>

    <div class="even-passport-page-number">
        20
    </div>

    <button id="advisories-button" class="passport-nav-button">
        <div class="bottom-button-tab"></div>
        <div class="passport-nav-tab-text">ADVISORIES</div>
    </button>
</div>
