<!-- the passport's advisories screen, where we list legal disclaimers -->
<div class="passport-pages">
    <div class="passport-header">
        Advisories
    </div>

    <div class="passport-content scrollable-content scroller">
       All Rights Reserved to something or other I’m not a lawyer but I guess we should say something like don’t steal our stuff and don’t sue os or something like that?
    </div>

    <div class="odd-passport-page-number">
        21
    </div>
</div>
