<!-- the passport's arrangements screen for app settings -->
<div class="passport-pages">
    <div class="passport-header">
        Arrangements
    </div>

    <div class="passport-content">
    <!-- USE ROTATING DIAL FOR VOLUME CONTROLS -->
    <!-- FROM https://demo.tutorialzine.com/2011/11/pretty-switches-css3-jquery/shiny-knobs.zip -->
    </div>

    <div class="even-passport-page-number">
        12
    </div>

    <button id="arrangements-button" class="passport-nav-button">
        <div class="button-tab"></div>
        <div class="passport-nav-tab-text">ARRANGEMENTS</div>
    </button>
</div>
