<!-- the passport's board screen, where we list stats -->
<div class="passport-pages">
    <div class="passport-header">
        Board
    </div>

    <div class="passport-content">


    </div>

    <div class="odd-passport-page-number">
        7
    </div>
</div>
