<!-- the passport's itinerary screen, where we list games played -->
<div class="passport-pages">
  <div class="passport-header">
    Board
  </div>
  <div class="passport-content double-pager">
    <!-- ============================================ -->
    <!-- CONTAINER -->
    <div id="board" class="chartContainer splitflap">
      <h5 style="color:black;">
        Europe Train Information
        <span style="margin-left:30px;font-size:15px;">
        <button onclick="location.href='/modes.html';">All Statistics</button>
        <button onclick="location.href='/personal.html';">Region Game</button>
        <button onclick="location.href='/index.html';">General Information</button>
      </span>
      </h5>
      <br>
      <!-- Header: 30px/char, 15px/separator, 120px/logo -->
      <div class="header" style="color:black;width:390px;margin-left:30px;text-align:left;">
        Destination
      </div>
      <div class="header" style="color:black;width:120px;margin-left:30px;">Stops</div>
      <div class="header" style="color:black;width:120px;margin-left:30px;text-align:left;">
        Capital
      </div>
      <div class="header" style="color:black;width:270px;margin-left:30px;text-align:left;">Conductor</div>

      <!-- rows will be placed here dynamically from #row_template -->
    </div>
    <script type="text/template" id="row_template">
      <div class="row">
        <div class="group destination"> <!-- city -->
          <div class="character"><span></span></div>
          <div class="character"><span></span></div>
          <div class="character"><span></span></div>
          <div class="character"><span></span></div>
          <div class="character"><span></span></div>
          <div class="character"><span></span></div>
          <div class="character"><span></span></div>
          <div class="character"><span></span></div>
          <div class="character"><span></span></div>
          <div class="character"><span></span></div>
          <div class="character"><span></span></div>
          <div class="character"><span></span></div>
          <div class="character"><span></span></div>
          <div class="character"><span></span></div>
        </div>
        <div class="group stops"> <!-- flight number -->
          <div class="number"><span></span></div>
          <div class="number"><span></span></div>
          <div class="number"><span></span></div>
        </div>
        <div class="group capital"> <!-- remarks -->
          <div class="character"><span></span></div>
          <div class="character"><span></span></div>
          <div class="character"><span></span></div>
        </div>
        <div class="group leader"> <!-- remarks -->
          <div class="full"><span></span></div>
          <div class="full"><span></span></div>
          <div class="full"><span></span></div>
          <div class="full"><span></span></div>
          <div class="full"><span></span></div>
          <div class="full"><span></span></div>
          <div class="full"><span></span></div>
          <div class="full"><span></span></div>
          <div class="full"><span></span></div>
          <div class="full"><span></span></div>
          <div class="full"><span></span></div>
          <div class="full"><span></span></div>
          <div class="full"><span></span></div>
          <div class="full"><span></span></div>
          <div class="full"><span></span></div>
        </div>
        <div class="group status"> <!-- lights -->
          <div class="sA"></div>
          <div class="sB"></div>
        </div>
      </div>
    </script>
    <script
    type="text/javascript"
    src="js/underscore-umd.js"
    ></script>
    <script
    type="text/javascript"
    src="js/backbone.js"
    ></script>
    <script type="text/javascript" src="js/split-flap.js"></script>
    <script type="text/javascript" src="js/custom.js"></script>
    <script type="text/javascript">
      // CUSTOMIZATION OPTIONS
      sf.options = {
        // REQUIRED
        plugin: 'generalInfo', // Plugin to load
        container: $('#board'), // Where in the DOM to put the board
        template: $('#row_template'), // Where in the DOM to find the row template
        numRows: 12, // number of rows

        // OPTIONAL
        sort: 'scheduled', // the column to sort by
        order: 'asc', // the order to sort by
        maxResults: 24, // number of items to retrieve from service
        pageInterval: 30000, // delay between pages (ms)
        stagger: 2000 // delay between loading rows (ms)
      };

      $(document).ready(function() {
        sf.board.init(sf.options);
        sf.items.init(sf.options);
        sf.items.load(sf.options);
      });
    </script>


  </div>
  <div class="even-passport-page-number">
    2
  </div>

  <button id="board-button" class="passport-nav-button">
    <div class="button-tab"></div>
    <div class="passport-nav-tab-text">BOARD</div>
  </button>
</div>

<div class="passport-pages">
  <div class="passport-header">
    Board
  </div>
  <div class="passport-content">

  </div>
  <div class="odd-passport-page-number">
    3
  </div>
</div>
