<!-- the passport's board screen, where we list stats -->
<div class="passport-pages">
    <div class="passport-header">
        Board
    </div>

    <div class="passport-content">
       <div id="board-text"
        style="position:absolute;left:200; top:100px;"
       >HELLO HELLO</div>

       <button id="board-test-button" class="board-text"
        style="position:absolute; left:200px; top:200px;width:200px;height:500px;">Press Me</button>
    </div>

    <div class="even-passport-page-number">
        6
    </div>

    <button id="board-button" class="passport-nav-button">
        <div class="button-tab"></div>
        <div class="passport-nav-tab-text">BOARD</div>
    </button>
</div>
