<!-- the passport's brochure screen for help -->
<div class="passport-pages">
    <div class="passport-header">
        Brochure
    </div>

    <div class="passport-content">

    </div>

    <div class="even-passport-page-number">
        14
    </div>

    <button id="brochure-button" class="passport-nav-button">
        <div class="bottom-button-tab"></div>
        <div class="passport-nav-tab-text">BROCHURE</div>
    </button>
</div>
