<!-- the passport's brochure screen for help -->
<div class="passport-pages">
    <div class="passport-header">
        Brochure
    </div>

    <div class="passport-content">

    </div>

    <div class="odd-passport-page-number">
        15
    </div>
</div>
