<!-- the passport's credentials screen -->
<div class="passport-pages">
    <% include cabinet-common %>
    <div class="passport-content">
        <div class='cabinet-photo'>
            <img src='./img/NicMassimiPassport.png' />
        </div>

        <table class="cabinet-details-table typewriter">
            <tr><td class="cabinet-prompt">Name:</td><td class="cabinet-data">Nic Massimi</td></tr>
            <tr><td class="cabinet-prompt">Born:</td><td class="cabinet-data">Rome, Italy</td></tr>
            <tr><td class="cabinet-prompt">Title:</td><td class="cabinet-data">Secretary of Sound</td></tr>
        </table>

        <div class="cabinet-bio typewriter">
            Nic Massimi was granted citizenship to Regio Vinco in 2020 as part of a forced labor exchange program. Under imprisonment, Nick has composed and recorded music and sound and endured meetings about coding. Nick hopes to escape and start a career playing saxophone for anyone who doesn’t force him to compose songs on the didgeridoo.
        </div>


        <div class="passport-center-line-1"></div>
    </div>
    <div class="even-passport-page-number">
        18
    </div>
</div>
