<!-- the passport's credentials screen -->
<div class="passport-pages cabinet-page">
    <% include cabinet-common %>
    <div class="passport-content">
        <div class='cabinet-photo'>
            <img src='./img/MikeMcDonaghPassport.png' />
        </div>
        <table class="cabinet-details-table typewriter">
            <tr><td class="cabinet-prompt">Name:</td><td class="cabinet-data">Mike McDonagh</td></tr>
            <tr><td class="cabinet-prompt">Born:</td><td class="cabinet-data">Long Island, NY, USA</td></tr>
            <tr><td class="cabinet-prompt">Title:</td><td class="cabinet-data">Secretary of Code</td></tr>
        </table>

        <div class="cabinet-bio typewriter">
            Mike McDonagh became a citizen of Regio Vinco in 2019 when, as a student at Stony Brook University, he was given an ultimatum by his professor to either code this project or be expelled. Mike enjoys spending his time programming solutions to project problems and then having to throw out his solutions and start all over again because the game designer gave him the wrong instructions. He also collects blood.
        </div>

        <div class="passport-center-line-2"></div>
    </div>
    <div class="odd-passport-page-number">
        17
    </div>
</div>
