<!-- the passport's credentials screen -->
<div class="passport-pages cabinet-page">
    <% include cabinet-common %>
    <div class="passport-content">


        <div class='cabinet-photo'>
            <img src='./img/RichMcKennaPassport.png' />
        </div>

            <table class="cabinet-details-table typewriter">
                <tr class="cabinet-details-row"><td class="cabinet-prompt">Name:</td><td class="cabinet-data">Rich McKenna</td></tr>
                <tr class="cabinet-details-row"><td class="cabinet-prompt">Born:</td><td class="cabinet-data">New York City, NY, USA</td></tr>
                <tr class="cabinet-details-row"><td class="cabinet-prompt">Title:</td><td class="cabinet-data">Secretary of Fun</td></tr>
            </table>

        <div class="cabinet-bio typewriter">
            Rich McKenna founded the nation of Regio Vinco in 2010 while teaching his son about national flags. He then
            inflicted harm upon his students by turning the project into a CSE 219 programming assignment at Stony Brook
            University. Rich enjoys talking baseball with people who couldn’t care less about the sport, regretting
            decisions he made at age 18, and watching Star Trek.
        </div>


        <div class="passport-center-line-1"></div>
    </div>

    <div class="even-passport-page-number">
        16
    </div>

    <button id="cabinet-button" class="passport-nav-button">
        <div class="bottom-button-tab"></div>
        <div class="passport-nav-tab-text">CABINET</div>
    </button>
</div>
