<div class="passport-header">
    Cabinet
</div>
<div class="cabinet-rv-stamp">
    <img src="./img/RV-Logo.png" />
</div>
<div class="cabinet-top-line"></div>
<div class="cabinet-mid-line"></div>
<div class="cabinet-vertical-line"></div>