<!-- the passport's credentials screen -->
<div class="passport-pages">
    <% include cabinet-common %>
    <div class="passport-content">
        <div class='cabinet-photo'>
            <img src='./img/JamesFinnPassport.png' />
        </div>

        <table class="cabinet-details-table typewriter">
            <tr><td class="cabinet-prompt">Name:</td><td class="cabinet-data">James Finn</td></tr>
            <tr><td class="cabinet-prompt">Born:</td><td class="cabinet-data">Long Island, NY, USA</td></tr>
            <tr><td class="cabinet-prompt">Title:</td><td class="cabinet-data">Secretary of Data</td></tr>
        </table>

        <div class="cabinet-bio typewriter">
            James Finn became the 4th citizen of Regio Vinco in 2021 in the hopes of finally learning Italian only to discover after becoming a citizen that public usage of the language has been outlawed in the secretive nation and Nick refuses to speak it with him. James enjoys monitoring election results in thousands of nations, states, provinces, prefectures, counties, and high school classes across the globe.
        </div>

        <div class="passport-center-line-2"></div>
    </div>
    <div class="odd-passport-page-number">
        19
    </div>
</div>
