<!-- the passport's companion screen for help -->
<div class="passport-pages">
    <div class="passport-header">
        Companions
    </div>

    <div class="passport-content">

    </div>

    <div class="odd-passport-page-number">
        11
    </div>
</div>
