<!-- the passport's companion screen for help -->
<div class="passport-pages">
    <div class="passport-header">
        Companions
    </div>

    <div class="passport-content">

    </div>

    <div class="even-passport-page-number">
        10
    </div>

    <button id="companions-button" class="passport-nav-button">
        <div class="button-tab"></div>
        <div class="passport-nav-tab-text">COMPANIONS</div>
    </button>
</div>
