<!-- the passport's credentials screen -->
<div class="passport-pages credentials-page">
    <div class="passport-header">
          Credentials
    </div>
    <div class="passport-content">

         <div class="passport-form-line" id="credentials-name-box"></div>
         <div class="passport-form-line" id="credentials-issue-date-box"></div>
         <div class="passport-form-line" id="credentials-expires-date-box"></div>
         <div class="passport-form-line" id="credentials-passport-number-box"></div>
         <div class="passport-form-line" id="credentials-signature-line"></div>

         <div class="passport-input-prompt" id="credentials-name-prompt">NAME--NOM</div>
         <div class="passport-input-prompt" id="credentials-issue-date-prompt">ISSUE DATE--DATE OF DELIVERANCE</div>
         <div class="passport-input-prompt" id="credentials-expires-date-prompt">EXPIRES ON--EXPIRE LE</div>
         <div class="passport-input-prompt" id="credentials-passport-number-prompt">PASSPORT NUMBER--NUMERO DE PASSEPORT</div>
         <div class="passport-input-prompt" id="credentials-signature-prompt">SIGNATURE OF BEARER--SIGNATURE DU TITULAIRE</div>
         <div id="credentials-important-prompt" class="passport-left-sub-header">
              IMPORTANT:
         </div>
         <div id="credentials-passport-valid-text" class="passport-text-caps">
              THIS PASSPORT IS NOT VALID UNTIL SIGNED BY THE BEARER. PERSONS INCLUDED HEREIN MAY NOT USE THIS PASSPORT FOR TRAVEL UNLESS ACCOMPANIED BY THE BEARER
         </div>
         <div class="passport-center-line-1"></div>

         <!-- BELOW ARE ALL THE THINGS THAT WILL BE CUSTOM FOR EACH PLAYER -->
         <div id="credentials-photo" class='passport-photo'>
              <img src='./img/RichMcKennaPassport.png' />
         </div>

         <div id="credentials-name-text" class='typewriter'>
              Rich McKenna
         </div>

         <div id="credentials-issue-date-text" class='typewriter'>
              7 April, 2010
         </div>

         <div id="credentials-expires-date-text" class='typewriter'>
              2 February, 2073
         </div>

         <div id="credentials-passport-number-text" class='typewriter'>
              A 00000000
         </div>

         <div id="credentials-statement" class='typewriter'>
              I want to go to Europe and ride the train, following in the footsteps of the indomitable Rick Steves.
         </div>

        <div id="credentials-signature">Rich McKenna</div>
    </div>
    <div class="even-passport-page-number">
          2
    </div>

    <button id="credentials-button" class="passport-nav-button">
        <div class="button-tab"></div>
        <div class="passport-nav-tab-text">CREDENTIALS</div>
    </button>
</div>
