<!-- the passport's credentials screen -->
<div class="passport-pages credentials-page">
     <div class="passport-header">
          Credentials
     </div>
    <div class="passport-content">
        <div id="credentials-secretary-statement-text"
          class="passport-text">
            The Secretary of State of Regio Vinco hereby requests all whom it may concern to permit the citizens/national[s] of Regio Vinco named herein to pass without delay or hinderance and in case of need to give favor all lawful aid and protection.
        </div>

        <div id="credentials-rv-flag">
            <img src="./img/RegioVincoFlag.jpg" />
        </div>

        <div id="credentials-rv-stamp">
            <img src="./img/RV-Logo.png" />
        </div>

        <div id="credentials-notice-heading" class="passport-sub-header">
            NOTICE
        </div>

        <div id="credentials-notice-text" class="passport-text">
            This passport must not be used by any person other than the person to whom issued or in violation of the conditions or restrictions placed therein or in violation of the rules regulating the issuance of passports. Any willful violation of these laws and regulations will subject the offender to presecution under Title 18, Regio Vinco Code, Section 1544.
        </div>

        <div id="credentials-death" class="passport-text-caps">
            IN CASE OF DEATH OR ACCIDENT NOTIFY THE NEAREST REGIO VINCAN DIPLOMATIC OR CONSULAR OFFICE.
        </div>

        <div class="passport-center-line-2"></div>

    </div>
    <div class="odd-passport-page-number">
        3
    </div>
</div>
