<!-- screen transition spinning loader -->
</div> <!-- close main container -->
<div id="loading-overlay">
    <div id="container-loader">
        <div class="loader"></div>
    </div>
</div>
<div id="audios">
    <audio id="airplane_land" class="sound">
        <source src="sounds/airplane_land.mp3" type="audio/mpeg">
    </audio>
    <audio id="airplane_pass" class="sound">
        <source src="sounds/airplane_pass.mp3" type="audio/mpeg">
    </audio>
    <audio id="car_start" class="sound">
        <source src="sounds/car_start.mp3" type="audio/mpeg">
    </audio>
    <audio id="click" class="sound">
        <source src="sounds/click.wav" type="audio/wav">
    </audio>
    <audio id="engine_fail" class="sound">
        <source src="sounds/engine_fail.mp3" type="audio/mpeg">
    </audio>
    <audio id="engine_fail_alt" class="sound">
        <source src="sounds/engine_fail_alt.mp3" type="audio/mpeg">
    </audio>
    <audio id="page_turn" class="sound">
        <source src="sounds/page_turn.mp3" type="audio/mpeg">
    </audio>
    <audio id="stamp" class="sound">
        <source src="sounds/stamp.mp3" type="audio/mpeg">
    </audio>
    <audio id="swoosh" class="sound">
        <source src="sounds/swoosh.mp3" type="audio/mpeg">
    </audio>
    <audio id="train_pass" class="sound">
        <source src="sounds/train_pass.mp3" type="audio/mpeg">
    </audio>
    <audio id="train_whistle" class="sound">
        <source src="sounds/train_whistle.mp3" type="audio/mpeg">
    </audio>
    <audio id="typing" class="sound">
        <source src="sounds/typing.mp3" type="audio/mpeg">
    </audio>
    <audio id="nav" class="music" loop>
        <source src="music/nav.mp3" type="audio/mpeg">
    </audio>
    <audio id="victory_long" class="music">
        <source src="music/victory/victory_long.mp3" type="audio/mpeg">
    </audio>
    <audio id="victory_med" class="music">
        <source src="music/victory/victory_med.mp3" type="audio/mpeg">
    </audio>
    <audio id="victory_short" class="music">
        <source src="music/victory/victory_short.mp3" type="audio/mpeg">
    </audio>
    <audio id="victory_mix_1" class="music">
        <source src="music/victory/victory_mix_1.mp3" type="audio/mpeg">
    </audio>
    <audio id="victory_mix_2" class="music">
        <source src="music/victory/victory_mix_2.mp3" type="audio/mpeg">
    </audio>
    <audio id="victory_mix_3" class="music">
        <source src="music/victory/victory_mix_3.mp3" type="audio/mpeg">
    </audio>
    <audio id="victory_mix_4" class="music">
        <source src="music/victory/victory_mix_4.mp3" type="audio/mpeg">
    </audio>
    <audio id="victory_mix_5" class="music">
        <source src="music/victory/victory_mix_5.mp3" type="audio/mpeg">
    </audio>
</div>
<span id="font-loader">.</span> <!-- Needed to make sure VacationPostcardNF loads properly -->
</body>
</html>
