<div id="hover-info" class="hover-card postcard">
    <div id="hover-info-content">
        <span class="card-icon">
            <img src="/img/postcard.png" />
        </span>

        <h4 id="info-name">Region Name</h4>

        <ul>
            <li>
                <strong>Capital:</strong> <span id="info-capital"></span>
            </li>
            <li>
                <strong>Leader:</strong> <span id="info-leader"></span>
            </li>
            <img id="info-flag" />
            <li>
                <strong>Your Rank:</strong> <span class="user-rank"></span>
            </li>
        </ul>

    </div>
</div>