<!-- the passport's itinerary screen, where we list games played -->
<div class="passport-pages">
    <div class="passport-header">
        Itinerary
    </div>
    <div class="passport-content double-pager">
        <div class="green" style="width:100%;height:100%">

        </div>
    </div>
    <div class="even-passport-page-number">
        8
    </div>

    <button id="itinerary-button" class="passport-nav-button">
        <div class="button-tab"></div>
        <div class="passport-nav-tab-text">ITINERARY</div>
    </button>
</div>

<div class="passport-pages">
    <div class="passport-header">
        Itinerary
    </div>
    <div class="passport-content">

    </div>
    <div class="odd-passport-page-number">
        9
    </div>
</div>
