<nav>
    <div id="rv-nav" class="nav-wrapper">


        <a href="/" id="logo"></a>
        <div id="nav-breadcrumbs"></div>
        <span id="breadcrumb-template" class="breadcrumb hidden-breadcrumb"><a></a></span>

        <ul id="nav-mobile" class="right">
            <li>

                <ul id="nav-mobile" class="left">
                    <li id="account">
                        <div class="dropdown-button" data-activates="user-dropdown">
                            <a href="#!" id="user-login">
                                <i class="rv-icons left mdi mdi-account"></i>
                                <span id="menu-username" class="username">Guest</span>
                            </a>
                            <a href="#!" id="user-pic"><img class="user-pic" /></a>
                            <a href="#!" id="user-name"></a>
                        </div>
                    </li>

                </ul>

                <div id="user-dropdown" class="dropdown-content card">

                    <div id="user-dropdown-inner">
                        <div id="user-dropdown-header" class="cf">
                            <div class="user-icon-def"><i class="rv-icons mdi mdi-account"></i></div>
                            <div class="user-icon-pic">
                                <img class="user-pic" />
                            </div>
                            <div id="user-title">
                                <span id="user-name-dropdown" class="username">Guest</span>
                                <%# <span id="user-level">Level 0</span>%>
                            </div>
                        </div>

                        <div id="user-action" class="cf">
                            <a href="#" id="profile-link" class="waves-effect btn-flat">
                                Profile
                            </a>

                            <a href="#!" class="logout-button">
                                <i class="rv-icons mdi mdi-power"></i>
                            </a>
                            <a href="#!" class="login-button">
                                <i class="rv-icons mdi mdi-login"></i>
                            </a>
                        </div>
                    </div>

                </div>
            </li>


            <!-- Hamburger Menu - TODO -->
            <li id="hamburger">
                <a id="toggle-passport">
                    <i class="rv-icons mdi mdi-passport"></i>
                </a>
            </li>
        </ul>

        <!--
        <ul id="hamburger-dropdown" class="dropdown-content">
            <li>
                <a href="/settings.html" id="drop-settings"><i class="rv-icons mdi mdi-settings"></i></a>
            </li>
            <li>
                <a href="https://forms.gle/NcMAWzPSK56wX5Cv9" target="_blank" class="tooltipped" data-tooltip="Report a Bug" data-position="left">
                    <i class="rv-icons mdi mdi-bug"></i>
                </a>
            </li>
            <li>
                <a href="#!" id="drop-music" class="tooltipped" data-tooltip="Toggle Music" data-position="left">
                    <i class="rv-icons mdi"></i>
                </a>
            </li>
            <li>
                <a href="#!" id="drop-sounds" class="tooltipped" data-tooltip="Toggle Sounds" data-position="left">
                    <i class="rv-icons mdi"></i>
                </a>
            </li>
                <a href="/about.html" id="drop-about"><i class="rv-icons mdi mdi-information"></i></a>
            </li>
        </ul> -->
    </div>
</nav>