<!-- the passport's visas screen -->
<div id="visas-2" class="passport-pages visas-page">
    <% include visas-common %>

    <div class="passport-content">
        <div class="visas-footer">
            LE TITULAIRE DU PASSEPORT EST SEUL RESPONSABLE DE L'OBTENTION DES VISAS REQUIS
        </div>

        <div class="passport-center-line-2"></div>
    </div>

    <div class="odd-passport-page-number">
        5
    </div>
</div>
