<!-- the passport's visas screen -->
<div class="passport-pages">
    <% include visas-common %>

    <div class="passport-content">
        <div class="visas-footer">
            IT IS THE RESPONSIBILITY OF THE PASSPORT BEARER TO OBTAIN THE NECESSARY VISAS.
        </div>

        <table>
            <tr><td>♔</td><td>5</td></tr>
            <tr><td>♕</td><td>3</td></tr>
            <tr><td>♖</td><td>8</td></tr>
            <tr><td>♗</td><td>2</td></tr>
            <tr><td>♘</td><td>1</td></tr>
            <tr><td>♙</td><td>7</td></tr>
        </table>

        <div class="passport-center-line-1"></div>
    </div>

    <div class="even-passport-page-number">
        4
    </div>

    <button id="visas-button" class="passport-nav-button">
        <div class="button-tab"></div>
        <div class="passport-nav-tab-text">VISAS</div>
    </button>
</div>
