<div class="passport-header">
    Visas
</div>

<div class="visas-entries-subheader">
     Entries/Entrees
</div>

<div class="visas-title-subheader">
    Title
</div>
<div class="visas-top-line"></div>
<div class="visas-mid-line"></div>
<div class="visas-bottom-line"></div>
<div class="visas-vertical-line"></div>
