@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  transition: $args;
}

/* Clearfix for floats */
.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.strike {
    text-decoration: line-through;
}

.center {
    text-align: center;
}

.left {
    float: left;
}

.right {
    float: right;
}

.breadcrumb:before {
    content:'\003E';
    font-family: Roboto;
}
