<div id="board-prototype">
   <div class="board-header">TRAIN INFORMATION</div>
   <div id="board-table-heading">Time Number Train To From Status Gate</div>
   <div class="board-text">1:40 429 MARC LOCAL   WASHINGTON   BALTIMORE   <span class="board-highlight">ALL ABOARD</span> C •</div>
</div>