<% include partials/header %>

<div id="auth-screen" class="container-inner screen">
    <div class="row">
        <div class="col s12">
                <img src="img/splash postcard.png" class="center-x" id="splash-logo">
        </div>
    </div>
    <div id="auth-form" class="postcard">
        <div>
            <input id="code-input" type="text" class="validate">
            <label for="code-input">Auth Code</label>
        </div>
        <button id="submit-code" class="stamp-button">Submit</button>
    </div>
</div>

<% include partials/footer %>
