<% include partials/header %>

<div id="gameplay-screen" class="container-inner gameplay screen" data-mode="<%- mode %>">
    <div id="map-wrapper">
        <div id="map">
        </div>
        <% include partials/gameplayhud %> 
    </div>
</div>

<% include partials/footer %>
