<% include partials/header %>

<div id="nav-screen" class="container-inner screen">
    <div id="map"></div>
    <% include partials/navhud %> 
</div>

<% include partials/game-select %>
<% include partials/infocard %>
<% include partials/footer %>