<% include partials/header %>
    <div id="passport-screen" class="container-inner screen-overlay screen">
        <div id="passport" class="center">
            <div id="passport-cover">
                <img src="img/passport.png">
            </div>
            <!--div class="passport-pages"></div-->
            <!--div id="settings-page" class="passport-pages">
            <h1><i class="mdi mdi-cog"></i>Settings</h1>
            <div class="page-content">
                <h5>Music</h5>
                <table>
                    <tr>
                        <td class="icon-cell"><i class="mdi mdi-music-note"></i></td>
                        <td>
                            <p class="range-field">
                                <input type="range" id="music-slider" min="0" max="100" />
                            </p>
                        </td>
                    </tr>
                </table>
                <h5>Sound Effects</h5>
                <table>
                    <tr>
                        <td class="icon-cell">
                            <i class="mdi mdi-volume-high"></i>
                        </td>
                        <td>
                            <p class="range-field">
                                <input type="range" id="sound-slider" min="0" max="100" />
                            </p>
                        </td>
                    </tr>
                </table>
            </div> -->
            <% include partials/credentials-1 %>
            <% include partials/credentials-2 %>
            <% include partials/visas-1 %>
            <% include partials/visas-2 %>
            <% include partials/board %>
            <% include partials/itinerary %>
            <% include partials/companions-1 %>
            <% include partials/companions-2 %>
            <% include partials/arrangements-1 %>
            <% include partials/arrangements-2 %>
            <% include partials/brochure-1 %>
            <% include partials/brochure-2 %>
            <% include partials/cabinet-1 %>
            <% include partials/cabinet-2 %>
            <% include partials/cabinet-3 %>
            <% include partials/cabinet-4 %>
            <% include partials/advisories-1 %>
            <% include partials/advisories-2 %>
        </div>

            <!--% include prototypes/board %-->
    </div>

    <% include partials/footer %>
