<% include partials/header %>

<div id="splash-screen" class="container-inner screen">
    <div class="row">
        <div class="col s12">
            <div id="splash-content">
                <img src="img/splash postcard.png" class="center-x" id="splash-logo">

                <div class="center-x" id="splash-buttons">
                    <a href="/map?region=The World" class="stamp-button">ENTER</a>
                    <a href="/tutorial" class="stamp-button">TUTORIAL</a>
                </div>
            </div>
        </div>
    </div>
</div>

<% include partials/footer %>
