<% include partials/header %>

<div id="user-screen" class="container-inner screen">
    <div class="row">
        <table id="player-scores-table" class="highlight">
            <thead>
              <tr>
                  <th>Region</th>
                  <th>Mode</th>
                  <th>Score</th>
                  <th>Timestamp</th>
                  <th>Rank</th>
              </tr>
            </thead>

            <tbody id="player-scores">

            </tbody>
         </table>
    </div>

<% include partials/footer %>
